<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>780235425907-53i97bm0r2cts9nfptqqvgcovq31lapb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.780235425907-53i97bm0r2cts9nfptqqvgcovq31lapb</string>
	<key>API_KEY</key>
	<string>AIzaSyDoZXPgYzLcTtiFsX6q6JGIkN3CnP3kkUs</string>
	<key>GCM_SENDER_ID</key>
	<string>780235425907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebase1</string>
	<key>PROJECT_ID</key>
	<string>fir-firebase-setup-e2be5</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-firebase-setup-e2be5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:780235425907:ios:569f8abe862460ecec8206</string>
</dict>
</plist>